*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #2DA6B2, #C0E8EC);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container{
    display: flex;
    width: 90vw;
}

.card{
    background-size:  auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;  
    cursor: pointer;
    flex: 0.8;
    margin: 10px;
    position: relative;
    transition: flex 0.9s;
    border-radius: 50px;
    
}

.card h3{
    font-size: 24px;
    position: absolute;
    bottom: 100px;
    left: 40px;
    opacity: 0;
    color: aliceblue;
}

.card.active{
    flex: 10;
}

.card.active h3{
    opacity: 1;
    transition: opacity .3s ease-in .4s;
}

#titulo{
    text-align: center;
    background-color: aliceblue;
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

